::ng-deep.mat-toolbar{
    background-color: #135499;
    color:white;
    height:3em;
  }
  
  .mat-card{
    background-color: whitesmoke;
    
  }
  .container{
  display: flex;
  flex-direction:column;
  min-height: 100%;
    width: 100%;
  }
  .inner-container{
    display: flex;
  
  }
  .widgets{
    font-size:10px;
    height:5em;
  }

  .clear {
    display: flex;
    position: absolute;
    top: 35px;
    right: 50px;
    bottom: 240px;
    justify-content: center;
  }
  
  ::ng-deep.mat-select{
    color: pink;
    border: 1px solid lightgray;
    margin:5px 0px 11px 2px;
    padding:10px 2px 0px 2px !important;
    border-radius: 3px;
    margin-bottom:1.5%;
    margin-top:3%;
  }
  ::ng-deep.mat-select-arrow{
  margin: 0 15px !important;
  }
  
  ::ng-deep.mat-select-placeholder{
    color:black;
    padding: 20%;
  
  }
  ::ng-deep.mat-button{
    border:1px solid lightgray !important;
    margin:2px 2px 5px 2px !important ;
    padding: 2px 0px 25px 2px !important;
    color:black !important;
    border-radius: 3px !important;
    &.selected-item {box-shadow: inset 1px 2px 10px rgb(220,220,220);
      background-color: lightgrey};
  }
  ::ng-deep.mat-expansion-panel-header{
    font-weight: 400px;
    font-size: 20px;
    justify-content: center;
    
  }
  
  .display-container{
    height:42em;
  }
  
  .ui-array-resources {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: white;
  }
  

// .selection-menu-body{
//     margin:50px;
//    // padding:30px;
// }
// .view > .mat-button{
//     background-color: white;   
//      margin:10px;
//      color:	#303030;
//      font-weight: bold;
// }

// .color > .mat-button{
//     background-color: white;   
//      margin:10px;
//      color:	#303030;
//      font-weight: bold;
// }
// span.mat-select-placeholder {
//      color: black;
// }
// ::mat-select-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//     color: red;
//     opacity: 1; /* Firefox */
// }
// span.mat-select-placeholder.ng-tns-c8-3.ng-star-inserted{
//     color:#303030;
// }
// span > .mat-selectspan > .mat-select-trigger > .mat-select-value > span >.mat-select-placeholder {
//     color: black;
// }
// span > .mat-select-placeholder{color:#303030}
// .mat-expansion-panel {
//     background:	#F5F5F5;
// }
//  .mat-expansion-panel-body {
//     padding: 0 24px 16px;
//     background-color:#F5F5F5;
// }
// .mat-expansion-panel-header{
//     font-weight: 500;
//     font-size: 20px;
//     background-color: #135499
// }
// .mat-expansion-panel-header-title {
//     color: white;
// }
// .mat-expansion-panel-header > .mat-expansion-panel-title{
//     color: white;
//     background-color: #135499;
// }

// .mat-expansion-panel-header[_ngcontent-c5] {
//     font-weight: 500;
//     font-size: 20px;
//     background-color: #135499;
// }
// .mat-expansion-panel-header[_ngcontent-c5][_ngcontent-c5] {
//     font-weight: 500;
//     font-size: 20px;
//     background-color: #135499;
//     color: white;
// }
// .box-container{
//     margin: auto;
//     //box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
//     width: auto;
    
//     //color: white;
//     border-radius: 3px;
// }
// .container-select{
//     display: flex;
//     justify-content: space-between;
//     margin: 0 auto;
//     padding: 20px 0 0 50px;
//       margin: auto; 
// }
// .container-select > span {
//     width: 145px;
//     height: 50px;
//     padding: 10px 50px 10px 10px;
// }
// .container-select > span > .mat-select {
//     font-weight: bold;
//     color:	#303030;
    
// }
// .container{
//     display: flex;
//   justify-content: space-between;
//  // max-width: 400px;
//   margin: 0 auto;
//   padding: 10px 0;
//     margin: auto;  
   
//     overflow: hidden;
  
// }



