.container{
    margin: auto;  
   // float: center;
   // justify-content: center;
    //overflow: hidden;
 // position: absolute;
  
//  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
 align-items: center; /*centers items on the cross-axis (y by default)*/
 
  left: 30%;  
}

.container > div {
    margin: 10px;
    height: 30px;
    width: 80px;
    
}

.container > div > .mat-select{
    height: 30px;
    width: 80px;
}



.ui-array-resources {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height:70em;
    //border: 1px dashed lightgray;
    //padding: 30px;
    //margin:50px;
    //position: relative;
    
	
    .ui-array-resource {
        width:30px;
        height: 30px;
        
    
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        margin: 1px;
        border-radius: 3px;
        &.selected-resource {box-shadow: inset 1px 2px 10px rgba(0, 0, 0, 0.5);}
        &:hover {
            transform: scale(1.5);
            border: 1px solid white;
            box-sizing: border-box;
            box-shadow: none;
                }
        &.ui-status-not-connected {background-color: #EF5350;}
        &.ui-status-available {background-color: #66BB6A;}
        &.ui-status-sleeping {background-color: #FFCA28;}
        &.ui-status-inactive {background-color: #D3D3D3;}  
        &.c0{background-color:  #FF1614
            ;}
        &.c1{background-color: #FF2E14
            ;}
        &.c2{background-color: #FF4614
            ;}
        &.c3{background-color: #FF5F14

            ;}
        &.c4{background-color: #FF8F14

            ;}
        &.c5{background-color: #FFC014

            ;}
        &.c6{background-color: #FFD814
            ;}
        &.c7{background-color: #FFF114
            ;}
        &.c8{background-color: #FAB293;}
        &.c9{background-color: #FED5C3;}
        &.c10{background-color: #FCFF14
            ;}
        &.c11{background-color: #D7FF14
            ;}
        &.c12{background-color: #B3FF14
            ;}
        &.c13{background-color: #8FFF14
            ;}
        &.c14{background-color: #6BFF14
            ;}
        &.c15{background-color: #6BFF14
            ;}
        &.c16{background-color: #8CCF0C;}
        &.c17{background-color: #69B50B;}
        &.c18{background-color: #479B0B
            ;}
        &.c19{background-color: #25810B
            ;}
        &.c20{background-color: #03680B
            ;}
    }

    .ui-array-resources:before{
        content: "";
        display: block;
        padding-top: 100%; 	/* initial ratio of 1:1*/
    }
    mat-card {
        &.ui-status-not-connected {border-left: 6px solid #EF5350;}
        &.ui-status-available {border-left: 6px solid #66BB6A;}
        &.ui-status-sleeping {border-left: 6px solid #FFCA28;}
        &.ui-status-inactive {border-left: 6px solid #D3D3D3;} 
        &.c0{border-left: 6px solid #EF5350;}
         &.c1{border-left: 6px solid #2C1840;}
        &.c2{border-left: 6px solid #502E72;}
        &.c3{border-left: 6px solid #9B85AE;}
        &.c4{border-left: 6px solid #14144B;}
        &.c5{border-left: 6px solid #9B85AE;}
        &.c6{border-left: 6px solid #7F91C3;}
        &.c7{border-left: 6px solid #93BDE7;}
        &.c8{border-left: 6px solid #20B2AA;}
        &.c9{border-left: 6px solid #229F6E;}
        &.c10{border-left: 6px solid #228B22;}
        &.c11{border-left: 6px solid #4CA82B;}
        &.c12{border-left: 6px solid #ACD62A;}
        &.c13{border-left: 6px solid #E0E61A;}
        &.c14{border-left: 6px solid #EFCE10;}
        &.c15{border-left: 6px solid #E6AA19;}
        &.c16{border-left: 6px solid #E27A1D;}
        &.c17{border-left: 6px solid #DE5003;}
        &.c18{border-left: 6px solid #C11C17;}
        &.c19{border-left: 6px solid #B22937;}
         
             }
    .ui-row {
        display: flex;
        justify-content: space-between;
        padding: 0 8px;
        .ui-column {
            div:first-child {text-transform: uppercase;}
            div:last-child {
                margin-top: 4px;
                color: gray;
                            }
                    }
            } 
        }



