
<div *ngIf="filteredResources">
        <div *ngIf="selectedView==='Array'">
                <div *ngIf="selectedColor==='Status'">
                <app-array>
                <ng-content select="[array-body]"></ng-content>
                </app-array>
                </div>
        </div>
</div>
<div *ngIf="filteredResources">
        <div *ngIf="selectedView==='Array'">
                <div *ngIf="selectedColor==='Power'">
                <app-array>
                <ng-content select="[array-body]"></ng-content>
                </app-array>
                </div>
        </div>
</div>
<div *ngIf="filteredResources">
        <div *ngIf="selectedView==='Array'">
                <div *ngIf="selectedColor==='SOC'">
                <app-array>
                <ng-content select="[array-body]"></ng-content>
                </app-array>
                </div>
        </div>
</div>
<div *ngIf="filteredResources">
        <div *ngIf="selectedView==='Array'">
                <div *ngIf="selectedColor==='%SOC'">
                <app-array>
                <ng-content select="[array-body]"></ng-content>
                </app-array>
                </div>
        </div>
</div>
<div *ngIf="filteredResources">
        <div *ngIf="selectedView==='List'">
                <app-list>
                <ng-content select="[list-body]"></ng-content>
                </app-list>
        </div>
</div>

<div *ngIf="filteredResources">
        <div *ngIf="selectedView==='Map'">
                <div *ngIf="selectedColor==='Status'">
                <app-array>
                <ng-content select="[map-body]"></ng-content>
                </app-array>
                </div>
        </div>
</div>