<div class="count-info" *ngIf="filteredResources" >
            <div class="ui-iso-resources">
                <div  *ngFor="let resource of filteredResources;" class="ui-iso-resource" (click)="resourceDidClick(resource)" 
                 [ngClass]="{'ui-status-not-connected': resource.primary_status==='NC',
                    'ui-status-sleeping': resource.primary_status==='SLP',
                    'ui-status-inactive': resource.primary_status==='IA',
                    'ui-status-available': resource.primary_status==='GI',
                    'selected-resource': resource === selectedResource}">
                </div>

                <!-- <b>{{isoToShow.length}}</b> in <b>{{selected}} </b>  of <b>{{resources.length}}</b> cars</div>            -->